.h1{
    text-align: center;
    color: rgb(65, 147, 130);
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    text-align: center;
    color: rgb(190, 72, 127);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(8, 8, 8);
}
.p1{
    text-align: center;
    color:blueviolet;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}